*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        134.34% 134.34% at 50% 0%,
        #8CC461 100%,
        #131537 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Scoreboard */
.scorecard {
    width: 800px;
    border: 1px solid white;
    border-radius: 13px;
    margin-top: 50px;
    justify-content: space-between;
    height: 158px;
    display: flex;
    /* flex: 0; */
    align-items: center;
}

.title {
    width: 135px;
    /* height: 37px; */
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4px;
    margin: 25px;
}

.computerScore{
    width: 139px;
    height: 128px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FFF;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
}

.computerScore p{
    color: #656565;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px;
}

.computerScore h1{
    width: 79px;
    height: 63px;
    flex-shrink: 0;
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.yourScore {
    width: 139px;
    height: 128px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FFF;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.yourScore p {
    width: 50px;
    height: 16px;
    flex-shrink: 0;
    color: #656565;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px;
}
.yourScore h1 {
    width: 79px;
    height: 63px;
    flex-shrink: 0;
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Game icons */
.rock {
    background-image: url(/images/Group2.png);
    height: 155px;
    width: 155px;
    padding-left: 6px;
    display: grid;
    place-content: center;
}
.paper {
    background-image: url(/images/Group1.png);
    height: 155px;
    width: 155px;
    padding-left: 10px;
    padding-top: 5px;
    display: grid;
    place-content: center;
    margin-top: 4px;
}
.scissor {
    background-image: url(/images/Group3.png);
    height: 155px;
    width: 155px;
    padding-left: 15px;
    padding-top: 6px;
    display: grid;
    place-content: center;
}

.line1 {
    margin-right: 120px;
    width: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.hands {
    background-image: url(/images/triangle.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

/* Rule Button */

.rules {
    position: absolute;
    bottom: 2px;
    right: 150px;
    width: 119px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    margin-right: 30px;
    margin-bottom: 30px;
}
.rules-button {
    position: absolute;
    bottom: 2px;
    right: 0px;
    cursor: pointer;
    width: 72px;
    height: 20px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.1px;
    margin-right: 20px;
    margin-bottom: 9px;
}
/* Next Button */
.next {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 119px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    margin-right: 30px;
    margin-bottom: 30px;
    display: none;
}

.next-button {
    position: absolute;
    bottom: 2px;
    right: 2px;
    cursor: pointer;
    width: 72px;
    height: 20px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.1px;
    margin-right: 17px;
    margin-bottom: 6px;
}
/* Result */
.contest {
    margin-top: 80px;
    height: 250px;
    width: 750px;
    display: none;
    justify-content: center;
}

.contest > div {
    flex: 1;
}
.contest h1 {
    width: 113px;
    height: 16px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px;
    margin-bottom: 4px;
    text-align: center;
}
.refferee h2 {
    width: 183px;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.9px;
}
.refferee p {
    width: 168px;
    height: 31px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.9px;
    padding-left: 18px;
    padding-bottom: 40px;
}
.refferee {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.play-button {
    width: 140px;
    flex-shrink: 0;
    color: #6B6B6B;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.5px;
    background-color: white;
    padding: 13px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.userPicked {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.pcPicked {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} 

.close-button {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ff0000;
    border: 7px solid #fff;
    border-radius: 50%;
    margin: 0 15px 400px 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rules-list {
    width: 278px;
    height: 325px;
    background-color: #004429;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 40px 100px 0;
    border: 7px solid #fff;
    border-radius: 13px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
      
}
ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
  }
li {
    list-style-type: square;
    color: #ffa943;
    font-size: 15px;
    margin: 10px 5px 5px 25px;
}
.rule {
    color: #fff;
}
.close {
    font-size: 29px;
    font-weight: 700;
    color: #fff;
}

.bridgeline1 {
    height: 15px;
    width: 230px;
    background-color: rgba(0, 0, 0, 0.64);
    position: absolute;
    left: 44%;
    z-index: -1;
  }
  
  .bridgeline2 {
    height: 15px;
    width: 230px;
    background-color: rgba(0, 0, 0, 0.64);
    position: absolute;
    transform: rotate(40deg);
    left: 0%;
    bottom: -50%;
    z-index: -1;
  }
  
  .bridgeline3 {
    height: 15px;
    width: 230px;
    background-color: rgba(0, 0, 0, 0.64);
    position: absolute;
    transform: rotate(-40deg);
    right: 0%;
    bottom: -50%;
    z-index: -1;
  }
  